<div class="dashboard-icon-container">
  <a routerLink="/dashboard" class="dashboard-icon-link">
    <i class="fas fa-tachometer-alt"></i>
    <span>Dashboard</span>
  </a>
</div>
<div class="dashboard-content">
  <div class="dashboard-card">
    <i class="fas fa-trash-alt"></i>
    <h3>Waste Collection</h3>
    <p>Today's collections: 15</p>
    <p>Total weight: 500 kg</p>
    <button class="btn">View Details</button>
  </div>
  <div class="dashboard-card">
    <i class="fas fa-recycle"></i>
    <h3>Recycling Stats</h3>
    <p>Recycled this month: 2000 kg</p>
    <p>Recycling rate: 65%</p>
    <button class="btn">View Details</button>
  </div>
  <div class="dashboard-card">
    <i class="fas fa-chart-bar"></i>
    <h3>Recycling Report</h3>
    <p>Recycled this month: 2000 kg</p>
    <p>Recycling rate: 65%</p>
    <button class="btn">View Details</button>
     <!-- Graph container -->

  </div>
</div>
  
     